/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* color-variables */
  :root {
    --primary-color: #3a3a3a;
    --secondary-color: #18191F;
  }

/* shared styles */
body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Poppins";
  font-style: normal;
}

.btn-primary {
  font-weight: 700;
  color: white;
  padding: 10px 24px;
  background-color: rgba(224, 44, 109, 1);
  border: none;
  border-radius: 40px;
}

/* header styles */
.header {
  margin-top: 90px;
}


/* navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.brand {
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-color);
}

.nav-menu {
  display: flex;
  gap: 34px;
}

.nav-item {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  font-weight: 600;
  color: var(--primary-color);
}

/* banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.banner-text {
  width: 600px;
}
.banner-title {
  font-size: 50px;
  font-weight: 700;
  color: var(--primary-color);
}
.banner-subtitle {
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 16px;
}



.banner-img-container {
  background: url(../images/Circle\ design.svg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-img {
  width: 100%;
}

.brand-container {
  display: flex;
  justify-content: space-around;
  padding: 36px 0;
  border:1px solid rgba(192, 204, 218, 0.6);
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  margin-bottom: 100px;
}

/* popular collection styles */

.collection-title {
  font-size: 28px;
  font-weight: 600;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 30px;
}

.product-card-container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 180px;
}

.card {
  border-radius: 5px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15) ;
}

.card-content {
  padding: 15px;
}

.product-rating {
  display: flex;
  gap: 10px;
  align-items: center;

}

.rating-icon {
  width: 16px;
  height: 16px;
}